<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${article.titre}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <link href="" th:href="@{/css/blog/article.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
</head>
<body>
<!--navbar-->
<div th:replace="fragments/header :: header"></div>


<!--article-->
<!--<h3>Article</h3>-->

<div class="container">

    <!--Liste articles-->

    <div class="col-md-10 col-md-offset-1">
        <div id="article">
            <img src="" alt="Image de l'article" class="imgArticle" />
            <h3 class="titreArticle" th:text="${article.titre}"></h3>
            <div class="contenuArticle" th:text="${article.texte}"></div>
        </div>

        <div class="ligne"></div>
        <h3>Commentaires</h3>

        <!--Commentaires-->

        <div id="commentaires">
            <div id="listcommentaires" th:each="commentaire : ${commentaires}">

                <div class="commentaire">
                    <!--<p th:text="${commentaire.idUtilisateur} + ' dit :' ">dit :</p>-->
                    <p th:text="${commentaire.auteur} + ' dit :' "></p>
                    <p th:text="${commentaire.texte}"></p>
                </div>
            </div>
        </div>

        <!--Ajout commentaires-->

        <h3>Réagisser à cet article</h3>
        <form action="#" th:action="@{/article/{id}(id=${article.id})}"
              th:object="${commentaireForm}" method="post">
            <table>
                <tr>
                    <!--Remplacer value par id de l'utilisateur connecté-->
                    <input type="hidden" id="idUtilisateur" name="idUtilisateur" th:value="1"/>
                <!--<td th:if="${#fields.hasErrors('idAuteur')}" th:errors="*{idAuteur}">Erreur auteur</td>-->
                </tr>
                <tr>
                    <td>Commentaire :</td>
                    <td><textarea th:field="*{texte}" ></textarea></td>
                    <td th:if="${#fields.hasErrors('texte')}" th:errors="*{texte}">Erreur commentaire</td>
                </tr>
                <tr>
                    <td><input type="hidden" id="idArticle" name="idArticle" th:value="${article.id}"/></td>
                </tr>
                <tr>
                    <td><button type="submit">Commentez</button></td>
                </tr>
            </table>

        </form>
    </div>

</div>


</body>
</html>