<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <link href="/css/blog/listArticle.css" th:href="@{/css/blog/listArticles.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
</head>
<body>
<!--navbar-->
<div th:replace="fragments/header :: header"></div>




<div class="container">


    <!--Liste articles-->

    <div class="col-md-6 col-md-offset-1">

        <h3 class="titreListe">Blogs</h3>

        <div id="listArticles" th:each="article : ${articles}">
            <div class="article">
                <img src="" alt="Image de l'article" class="imgArticle" />
                <h5><a href="" class="titreArticle" th:text="${article.titre}"
                       th:href="@{/article/{id}(id=${article.id})}"></a></h5>
                <div class="resumeArticle" th:text="${article.resumer}"></div>
            </div>
        </div>
    </div>

</div>



</body>
</html>