<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Accueil</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
</head>

<body>
<!--header-->
    <div th:replace="fragments/header :: header"></div>

<!--Accueil-->
    <h3 th:text="'Hello ' +${currentUser}">Bienvenue sur France Football</h3>

</body>
</html>