<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Equipe</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
</head>
<body>
<!--navbar-->
<div th:replace="fragments/header :: header"></div>


<!--Infos équipe-->
<h3>Infos équipe etc</h3>


</body>
</html>