<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>

    <title></title>
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header" style="margin-bottom: 50px">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" th:href="@{/}">France Football</a>
        </div>
        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Compétitions
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" th:href="@{/fiche}">Ligue 1</a></li>
                        <li><a href="#">Page 1-2</a></li>
                        <li><a href="#">Page 1-3</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Mercato</a>
                </li>
                <li>
                    <a href="#" th:href="@{/blog}">Blogs</a>
                </li>
                <li>
                    <a href="#">Ballon d'or</a>
                </li>
                <li>
                    <a href="#">Résultat</a>
                </li>
                <li>
                    <a href="#">Live</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/login" th:href="@{/login}">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                    </a>
                </li>
                <!--<li>-->
                    <!--<a href="/login" th:href="@{/login}">-->
                        <!--<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>Connexion-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="/logout" th:href="@{#}" onclick="$('#form').submit();">Déconnexion-->
                    <!--</a>-->
                    <!--<form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</div>
</body>
</html>


