<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inscription</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
</head>
<body>
<!--navbar-->
<div th:replace="fragments/header :: header"></div>


<!--formulaire-->
<h1>Crée un Compte Franc Football</h1>

<form action="#" th:action="@{/inscription}" th:object="${inscriptionForm}" method="post">
    <table>

        <tr>
            <td>Nom d'uttilisateur:</td>
            <td><input type="text" th:field="*{nom}" /></td>
            <td th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}">Erreur nom</td>
        </tr>
        <tr>
            <td>Email :</td>
            <td><input type="email" th:field="*{mail}" /></td>
            <td th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">Erreur mail</td>
        </tr>
        <tr>
            <td>Mot de passe :</td>
            <td><input type="password" th:field="*{password}" /></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Erreur mot de passe</td>
        </tr>
        <tr>
            <td>Mot de passe :</td>
            <td><input type="password" th:field="*{passwordConfirm}" /></td>
            <td th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Erreur mot de passe</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>

</form>
</body>
</html>