<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
</head>
<body>
<html>
<body>
<!--navbar-->
<div th:replace="fragments/header :: header"></div>

<!--formulaire-->
<h3>Se connecter à France Football</h3>
<form action="#" th:action="@{/login}" th:object="${loginForm}" method="post">
    <table>
        <tr>
            <td>Email :</td>
            <td><input type="email" th:field="*{mail}" /></td>
            <td th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">Erreur mail</td>
        </tr>
        <tr>
            <td>Mot de passe :</td>
            <td><input type="password" th:field="*{password}" /></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Erreur mot de passe</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
    <!--<div class="${error != null ? 'has-error' : ''}">-->
        <!--<span>${message}</span>-->
        <!--<input name="psuedo" type="text" th:field="*{psuedo}" placeholder="Username"/>-->
        <!--<span th:if="${#fields.hasErrors('psuedo')}" th:errors="*{psuedo}"></span>-->
        <!--<input name="mdp" type="password" th:field="*{password}" placeholder="Password"/>-->
        <!--<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>-->
        <!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->

        <!--<button type="submit">Log In</button>-->
        <!--<h4 class="text-center"><a th:href="@{/inscription}">Create an account</a></h4>-->
    <!--</div>-->
</form>

<a href="/inscription" th:href="@{/inscription}">
    Pas encore de compte ?
</a>

<!--<form method="POST" action="${contextPath}/login" class="form-signin">-->
    <!--<h2 class="form-heading">Log in</h2>-->

    <!--<div class="form-group ${error != null ? 'has-error' : ''}">-->
        <!--<span>${message}</span>-->
        <!--<input name="username" type="text" class="form-control" placeholder="Username"-->
               <!--autofocus="true"/>-->
        <!--<input name="password" type="password" class="form-control" placeholder="Password"/>-->
        <!--<span>${error}</span>-->
        <!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->

        <!--<button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>-->
        <!--<h4 class="text-center"><a href="${contextPath}/registration">Create an account</a></h4>-->
    <!--</div>-->

<!--</form>-->

</body>
</html></body>
</html>